<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/styles/style.css">
    {{#each styles}}
        <link rel="stylesheet" href="/styles/{{this}}">
    {{/each}}
</head>
<body>
    <nav>
        <p class="logo">Warrior Game 2</p>
        <ul>
            <li><a href="/arena">Arena</a></li>
            <li><a href="/ranking">Ściana chwały</a></li>
            <li><a href="/warrior/add">Stwórz wojownika</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>
