<h1>Stwórz wojownika</h1>

<form action="/warrior" method="post">
    <label>
        Nazwa wojownika
        <input name="name" type="text">
    </label>

    <label>
        Siła
        <input name="strength" type="number">
    </label>

    <label>
        Obrona
        <input name="defense" type="number">
    </label>

    <label>
        Wytrzymałość
        <input name="stamina" type="number">
    </label>

    <label>
        zwinność
        <input name="agility" type="number">
    </label>
</form>
