<h1>Stwórz wojownika</h1>

<form action="/warrior" method="post">
    <div class="inputs__container">
        <label>
            Nazwa wojownika
            <input name="name" type="text" placeholder="Nazwa wojownika">
        </label>

        <label>
            Siła
            <input name="strength" type="number" placeholder="Siła">
        </label>

        <label>
            Obrona
            <input name="defense" type="number" placeholder="Obrona">
        </label>

        <label>
            Wytrzymałość
            <input name="stamina" type="number" placeholder="Wytrzymałość">
        </label>

        <label>
            zwinność
            <input name="agility" type="number" placeholder="Zwinność">
        </label>
    </div>

    <fieldset>
        <legend>Awatar</legend>
        <div class="avatars__container">
            {{#each imgName}}
                <div class="avatar__container">
                    <label>
                        <img src="/img/avatars/{{this}}" alt="avatar={{@index}}">
                        <input type="radio" name="avatar" value="{{this}}" {{#unless @index}}checked{{/unless}}>
                    </label>
                </div>
            {{/each}}
        </div>
    </fieldset>

    <input type="submit">
</form>
