.icon__trophy{
    margin: 0;
    font-size: 3rem;
}

/* warrior stats */
.stats__warrior__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 auto 50px auto;
}

.stats__warrior__element {
    padding: 10px;
    width: 40%;
    background: #333336;
    border: 2px solid #737373;
    border-radius: 7px;
}

.stats__warrior__element h3 {
    font-size: 1.5rem;
}

.stats__warrior__element ul {
    list-style: none;
}

.vs{
    font-size: 5rem;
}

/* fight result */
.fight__logs__container{
    margin: auto;
    width: fit-content;
    background: #333336;

}

.fight__log__container{
    border: 2px solid #737373;
    border-radius: 10px;
    text-align: center;
    width: 70vw;
    padding: 5px;
    position: relative;
}

.fight__log--disable{
    display: none;
}

.fight__log__element {

}

.fight__log__element h3 {
    margin: 5px;
    font-size: 1rem;
}

.fight__log__element p {
    margin: 5px 5px 20px 5px;
}

.background__index {
    font-size: 10rem;
    position: absolute;
    opacity: 0.1;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.stats__warrior--simple{
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #737373;
    border-radius: 5px;
}

.stats__warrior--simple h3 {
    margin: 5px;
    font-size: 1rem;
}

.stats__warrior--simple p {
    margin: 5px;
    text-align: left;
}

.stats__warrior__container--simple{
    display: flex;
    justify-content: center;
    width: 100%;
}

.damage__text {
    color: red;
}

.buttons__container {
    width: fit-content;
    margin: 20px auto;
}

.previous__button, .next__button {
    margin: auto;
    padding: 10px;
    background: #333336;
    border: none;
    border-radius: 5px;
}

#fight__log--winner h3 {
    font-size: 4rem;
}

#fight__log--winner h4 {
    font-size: 2rem;
}